@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="angularCatalogue">
<head>
    <!--[if lte IE 8]>
        <script src="/Scripts/json2.js"></script>
        <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
    <title>Angular Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/base-styles.css")
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/base-frameworks.js")
    @Scripts.Render("~/Scripts/angular-catalogue.js")
    @RenderSection("scripts", required: false)
</body>
</html>
