@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="angularCatalogue">
<head>
    <title>Angular Catalogue</title>
    <script type="text/javascript">
      document.getElementsByTagName("html")[0].className = "xjs";
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/base-styles.css")
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/base-frameworks.js")
    @Scripts.Render("~/Scripts/angular-catalogue.js")
    @RenderSection("scripts", required: false)
  
  <!--[if lte IE 8]>
    @Scripts.Render("~/Scripts/FixIE.js") 
   <![endif] -->
</body>
</html>
